<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <footer class="page-footer font-small mdb-color lighten-3 pt-4">
            <div class="text-center text-md-left">
                <div class="row">
                  <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
                      <h5 class="font-weight-bold text-uppercase mb-4">CHĂM SÓC KHÁCH HÀNG</h5>
                      <p>
                        
                            PHÒNG KHÁM ĐA KHOA BÁC SĨ GIA ĐÌNH 
                      </p>
                  </div>
                  <hr class="clearfix w-100 d-md-none">
                  <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                      <h5 class="font-weight-bold text-uppercase mb-4">GIỚI THIỆU</h5>
                      <ul class="list-unstyled">
                        <li><p>Giới thiệu</p></li>
                        <li><p>Tuyển dụng</p></li>
                        <li><p>Điều khoản</p></li>
                      </ul>
                  </div>
                  <hr class="clearfix w-100 d-md-none">
                  <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
                      <h5 class="font-weight-bold text-uppercase mb-4">Liên hệ</h5>
                      <ul class="list-unstyled">
                        <li><p><i class="fas fa-home mr-3"></i>Quận 11, TP.Hồ Chí Minh</p></li>
                        <li><p><i class="fas fa-envelope mr-3"></i>123@gmail.com</p></li>
                        <li><p><i class="fas fa-phone mr-3"></i> 0123456789  </p></li>
                      </ul>
                    </div>
                  <hr class="clearfix w-100 d-md-none">
                  <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
                      <h5 class="font-weight-bold text-uppercase mb-4">DANH MỤC</h5>
                      <ul class="list-unstyled">
                        <li><p><i class="fab fa-facebook-f"></i>Facebook</p></li>
                        <li><p><i class="fab fa-instagram"></i>Instagram</p></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3">Copyright © 2022 Phòng khám Đa khoa Quốc tế</div>
        </footer>
    </div>
</div>