{% extends 'layout/base.html' %}

{% block title %}Trang chi tiết bác sĩ {% endblock %}


{% block content %}
<div class="container ">
    <div class="info">
        <div class="">
          <img src="https://cdn.bookingcare.vn/fr/w200/2019/12/31/155650-gs-ha-van-quyet.jpg" alt="" style="border-radius: 9999px; height: 130px; cursor: pointer;" />
        </div>

        <div style="display: flex; flex-direction: column; gap: 10px">
          <h3 style="">Giáo sư, Tiến sĩ Hà Văn Quyết</h3>
          <span style="">Chuyên gia trên 35 năm kinh nghiệm trong lĩnh vực đa khoa</span>
          <span style="">Nguyên Giám đốc Bệnh viện Đại học Y Hà Nội Bác sĩ khám cho người bệnh từ 3 tuổi trở lên</span>
        </div>


    </div>
    <div style="display: flex; flex-direction: row; gap: 10px ; align-items: center; margin-bottom: 60px">
      <strong>Lịch khám: </strong>
      <span class="time2">8:30 - 09:30 </span>
      <span class="time2">9:00 - 09:30 </span>
      <span class="time2">9:30 - 10:00 </span>
      <span class="time2">10:00 - 10:30 </span>
      <span class="time2">13:00 - 13:30 </span>
      <span class="time2">13:30 - 14:00 </span>
      <span class="time2">14:30 - 15:00 </span>
      <span class="time2">15:30 - 16:00 </span>
    </div>

    <div  style="margin-bottom: 60px">
        <strong>GIÁ KHÁM: 100.000đ</strong>
    </div>

    <div>
        <span style="display: block; font-size: 20px; margin-bottom: 20px; font-weight: bold">Giáo sư, Tiến sĩ, Bác sĩ Hà Văn Quyết</span>
        <ul style="margin-left: 30px">
            <li>Giáo sư, Tiến sỹ, Bác sĩ chuyên khoa Ngoại Tiêu hóa</li>
            <li>Chuyên gia đầu ngành trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Kinh nghiệm làm việc trên 35 năm trong lĩnh vực bệnh lý Tiêu hóa</li>
            <li>Bác sĩ Nội trú Bệnh viện Việt Đức</li>
            <li>Nguyên Chủ nhiệm Bộ môn Ngoại - Đại học Y Hà Nội </li>
            <li>Nguyên Giám đốc Bệnh viện Đại học Y Hà Nội</li>
        </ul>

    </div>


</div>
{% endblock %}